/* @font-face {
  font-family: "Some Font Name";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/some-font.woff2") format("woff2");
  font-display: swap;
} */
.visually-hidden {
  height: 0;
  width: 0;
}

/* ================================================== */
body {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  line-height: 27px;
  color: #2d2829;
  background-color: #fbebea;
}
/* .site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
} */
.site-navigation-item a {
  font-size: 13px;
  line-height: 16px;
  color: #2d2829;
  text-transform: uppercase;
  text-decoration: none;
}
.site-navigation-item a.active {
  color: #f50049;
}
.phone {
  font-size: 13px;
  line-height: 16px;
  font-weight: bold;
  color: #2d2829;
  text-decoration: none;
}

.advantages {
  background-image: url("../img/berries.png");
  background-position: left center;
  background-repeat: no-repeat;
}

.promo h1 {
  font-size: 78px;
  font-weight: bold;
  line-height: 70px;
}
.promo p {
  font-size: 40px;
  font-style: italic;
  line-height: 53px;
}
.button {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #f50049;
  padding: 12px 62px;
  border-radius: 25px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.features {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
}
.catalog h1 {
  font-size: 40px;
  line-height: 66px;
}
